@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  background-color: #e1cbc3;
}
pre {
  background-color: lightgrey;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.title {
  font-family: 'Spartan', sans-serif;
  text-transform: uppercase;
}

.Editor,
.Previewer {
  width: 45%;
  height: 90%;
}

#editor,
#preview {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
}

#editor {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  background-color: #2d333b;
  color: #fff;
  padding: 0.5rem;
}

#preview {
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
  background-color: #fff;
}

#preview > *:first-child {
  margin-top: 0;
}

@media (max-width: 800px) {
  .App {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .Editor,
  .Previewer {
    width: 90%;
    height: 40%;
  }
}
